<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/public/assets/style.css" rel="stylesheet" type="text/css" /> 
  <title>Document</title>
</head>
<body>
    <!-- Nav Bar -->
    <ul>
      <li><a href="/">Home </a></li>
      
    </ul>
    <!-- Nav bar ends  -->
  <div class="main">
  <h1> Admin Operations : </h1></br>

  <h1> Enter your credintials : </h1>
  <form method="POST" action="/login" >
    
    <label for="Email"> Enter Email :</label>
    <input type="email" name = "Email" placeholder="Enter Email" required/>
  </br>
    <label for="password"> </label>
    <input type="password" name="Password" Enter Password: placeholder="Enter Password" required/>
</br>
    <input type ="submit" name = "Login" value="login"/>

  </form>

  <h1> Do You Want TO SignUP: </h1>
  <a href="/SignUp"> <input type="button" value="Create Profile" name="Profile">
   </a>
   </br>
  </div>
</body>
</html> 