<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/assets/style.css" rel="stylesheet" type="text/css" />
  <title>Document</title>
</head>

<body>
    <!-- Nav Bar -->
    <ul>
      
      <li ><a href="/employee_logout">Logout</a></li>
    </ul>
    
    <!-- NavBar ends  -->
  <div class="main">
    <h1>Employee Dashboard</h1>
    
      <h2>welcome <% users.forEach( function (user) { %>
      <%=  user.Name %> 
     <% }) %> </h2>
     <br/>
     <br/>
     <a href="/searchEmployee" ><input type="button" value= "Search Employees" /></a>
     <a href="/edit_employee_details"><input type="button" value= "Edit Details" /></a>
     <a href='/Manager_details'><input type="button" value = "Manager Details"></a>
     

  </div>
</body>

</html>