<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/assets/style.css" rel="stylesheet" type="text/css" />
  <title>Document</title>
</head>

<body>
     <!-- Nav Bar -->
     <ul>
      <li><a href="/employee_dashboard">Dashboard</a></li>
      
      <li><a href="/logout">Logout</a></li>
    </ul>
    <!-- Nav Bar ends -->
 
  <div class="main">
    <h1>Managers Profile</h1>
      <table>
        <tr>
        <th>Name</th>
          <th>Email</th>
        </tr>
        <% users.forEach(function(user){ %>
          <tr>
            <td><%= user.Name %></td>
            <td><%= user.Email %></td>
          </tr>
          <%
        }) 
        %>
        
        
      </table>
  </div>
</body>

</html>